<div class="header clearfix">
    <a href="/" class="logo"></a>
    <ul class="menu">
        {% for link in menu_links %}
            <li>
                <a href="{% url link.full_href %}" 
                {% with url=request.resolver_match.url_name %}
                {% with namespace=request.resolver_match.namespace %}
                    {% if url == link.view_name and namespace == link.namespace %}
                        class="active" 
                    {% endif %}> 
                {% endwith %}
                {% endwith %}                 
                {{ link.name }}</a>
            </li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'auth:edit' %}">
                    {{ user.first_name|default:'Пользователь' }}          
                </a>
            </li>
        {% endif %}  
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}">выйти</a>
                {% else %}
                    <a href="{% url 'auth:login' %}">войти</a>
                    <a href="{% url 'auth:register' %}">Регистрация</a>
                {% endif %}
            </li>
            <li>

            </li>
    </ul>
    <a href="#" class="search"></a>
    <a href="{% url 'cart:view' %}" class="basket">
        <span class="text">
            {% if cart %} {{ cart|length }} {% endif %}
        </span>    
    </a>
</div>